services:
  app:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
      args:
        UID: 1000 # Default Local ID
        GID: 1000 # Default Local ID
    container_name: backend
    working_dir: /app
    volumes:
      - ./src:/app
      - ./docker/php/php.ini:/usr/local/etc/php/conf.d/custom.ini
    networks:
      - bridge_network
    deploy:
      resources:
        limits:
          cpus: "1.00"
          memory: 512M
        reservations:
          cpus: "0.25"
          memory: 128M # Force minimum memory

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "8000:80"
    volumes:
      - ./src:/app
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - bridge_network
    deploy:
      resources:
        limits:
          cpus: "0.25"
          memory: 64M

  db:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: user_db
      MYSQL_USER: user
      MYSQL_PASSWORD: user
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - dbdata:/var/lib/mysql
      - ./docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
    networks:
      - bridge_network
    deploy:
      resources:
        limits:
          cpus: "1.00"
          memory: 768M

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: unless-stopped
    ports:
      - "8001:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    depends_on:
      - db
    networks:
      - bridge_network
    deploy:
      resources:
        limits:
          cpus: "0.25"
          memory: 128M

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - bridge_network
    deploy:
      resources:
        limits:
          cpus: "0.25"
          memory: 128M

  mailpit:
    image: axllent/mailpit:latest
    container_name: mailpit
    restart: unless-stopped
    ports:
      - "8025:8025" # Web UI
      - "1025:1025" # SMTP
    networks:
      - bridge_network
    deploy:
      resources:
        limits:
          cpus: "0.25"
          memory: 128M

networks:
  bridge_network:
    driver: bridge

volumes:
  dbdata: